<div class="card">
  <div class="card-header">
    <i class="fa icon-cursor"></i>Quản lý nhân viên
  </div>
  <div class="card-body">
    <button type="button" (click)="actionStaff('add')" class="btn btn-info btn-xs pull-right mb-3"><span
      class="fa fa-plus-circle"></span> Thêm nhân viên</button>
    <table class="table">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tài khoản</th>
        <th>Tên nhân viên</th>
        <th>Số CMT</th>
        <th>Điện thoại</th>
        <th>Ảnh</th>
        <th>Chức vụ</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of dataTable; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.username}}</td>
        <td>{{item.fullname}}</td>
        <td>{{item.identification}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.avatar}}</td>
        <td>{{item.role ? "Quản lý" : "Nhân viên"}}</td>
        <td>
          <button class="btn btn-info btn-xs" (click)="actionStaff('edit', item)"><span
            class="fa fa-edit"></span></button>
          <button (click)="actionStaff('delete', item)" class="btn btn-danger btn-xs"><span
            class="fa fa-remove"></span></button>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#"><</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">></a></li>
    </ul>
  </div>
</div>
