<div class="modal-header">
  <h4 class="modal-title pull-left">{{action}} tài sản</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalAdd.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formProduct" [ngClass]="{'visiabled': type == 'delete'}">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin cơ bản</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-4">
              <label>Tên tài sản</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Tên tài sản"
                     [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Nhập đầy đủ các thông tin</div>
              </div>
            </div>
            <!--          <div class="row">-->
            <div class="form-group col-sm-4">
              <label>Loại tài sản</label>
              <select class="form-control" [value]="0" formControlName="category_name"
                      [ngClass]="{ 'is-invalid': submitted && f.category_name.errors }">
                <option>Xe máy</option>
                <option>Điện thoại</option>
                <option>Laptop</option>
                <option>Ô tô</option>
              </select>
              <div *ngIf="submitted && f.category_name.errors" class="invalid-feedback">
                <div *ngIf="f.category_name.errors.required">Nhập đầy đủ các thông tin</div>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label>Trạng thái</label>
              <input type="number" class="form-control" formControlName="status" placeholder="Trạng thái"
                     [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Nhập đầy đủ các thông tin</div>
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Thông tin tài sản</label>
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" formControlName="desc"
                          placeholder="Thông tin tài sản"
                          [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"></textarea>
                <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                  <div *ngIf="f.desc.errors.required">Nhập đầy đủ các thông tin</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="file-input">Ảnh</label>
            <div class="col-md-10">
              <input type="text" formControlName="images" id="file-input" name="file-input"
                     [ngClass]="{ 'is-invalid': submitted && f.images.errors }">
              <div *ngIf="submitted && f.images.errors" class="invalid-feedback">
                <div *ngIf="f.images.errors.required">Nhập đầy đủ các thông tin</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn" [ngClass]="{'btn-success': type == 'add',
  'btn-primary': type == 'edit',
  'btn-danger': type == 'delete'}"
          (click)="submit()">{{action}}</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalAdd.hide()">Đóng</button>
</div>
