<div class="modal-header">
  <h4 class="modal-title pull-left">Xác nhận in hợp đồng</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalAdd.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success"
          (click)='printDiv();'>In hợp đồng</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalAdd.hide()">Đóng</button>
</div>
<div id="DivIdToPrint" style="display: none">
  <p style="text-align: center;"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br> Độc lập - Tự do - Hạnh phúc<br>
    ---------***--------</strong></p>
  <h3 style="text-align: center;">HỢP ĐỒNG CẦM CỐ TÀI SẢN</h3>
  <p><strong>Bên cầm cố tài sản (sau đây gọi là bên A): </strong></p>
  <p>Ông
    (Bà):</p>
  <p>Sinh
    ngày…………</p>
  <p>Chứng minh nhân dân số:...................cấp ngày.......tháng.......năm........tại
    ..........................................</p>
  <p>Hộ khẩu thường trú (truờng hợp không có hộ khẩu thường trú, thì ghi Đăng ký tạm trú): ....................</p>
  <p>Có thể chọn một trong các chủ thể sau:</p>
  <p><strong>1. Chủ thể là vợ chồng:</strong></p>
  <p>
    Ông:......................................................................................................................................................</p>
  <p>Sinh
    ngày:.............................................................................................................................................</p>
  <p>Chứng minh nhân dân số:............ cấp ngày......................&nbsp;tại&nbsp;.............................................................</p>
  <p>Hộ khẩu thường trú:
    .............................................................................................................................</p>
  <p>Cùng vợ là bà:
    ......................................................................................................................................</p>
  <p>Sinh
    ngày:.............................................................................................................................................</p>
  <p>Chứng minh nhân dân số: cấp ngày ....................tại
    ...........................................................................</p>
  <p>Hộ khẩu thường trú:
    .............................................................................................................................</p>
  <p>(Trường hợp vợ chồng có hộ khẩu thường trú khác nhau, thì ghi hộ khẩu thường trú của từng người).</p>
  <p><strong>2. Chủ thể là hộ gia đình:</strong></p>
  <p style="font-size: 12.7272720336914px;">Họ và tên chủ
    hộ:...................................................................................................................................</p>
  <p style="font-size: 12.7272720336914px;">Sinh
    ngày:..............................................................................................................................................</p>
  <p style="font-size: 12.7272720336914px;">Chứng minh nhân dân số:............ cấp ngày......................&nbsp;tại&nbsp;..............................................................</p>
  <p style="font-size: 12.7272720336914px;">Hộ khẩu thường trú:
    .............................................................................................................................</p>
  <p>Các thành viên của hộ gia đình:</p>
  <p style="font-size: 12.7272720336914px;">Họ và
    tên:..............................................................................................................................................</p>
  <p style="font-size: 12.7272720336914px;">Sinh
    ngày:..............................................................................................................................................</p>
  <p style="font-size: 12.7272720336914px;">Chứng minh nhân dân số:............ cấp ngày......................&nbsp;tại&nbsp;..............................................................</p>
  <p style="font-size: 12.7272720336914px;">Hộ khẩu thường trú:
    .............................................................................................................................</p>
  <p>* Trong trường hợp các chủ thể nêu trên có đại diện thì ghi:</p>
  <p style="font-size: 12.7272720336914px;">Họ và tên người đại
    diện:......................................................................................................................</p>
  <p style="font-size: 12.7272720336914px;">Sinh
    ngày:.............................................................................................................................................</p>
  <p style="font-size: 12.7272720336914px;">Chứng minh nhân dân số:............ cấp ngày......................&nbsp;tại&nbsp;.............................................................</p>
  <p style="font-size: 12.7272720336914px;">Hộ khẩu thường trú:
    .............................................................................................................................</p>
  <p>Theo giấy ủy quyền (trường hợp đại diện theo ủy quyền) số: ……………........................…………..ngày
    ………………..........do ……………………………………………………..lập</p>
  <p>3. Chủ thể là tổ chức:</p>
  <p>Tên tổ chức::
    ......................................................................................................................................</p>
  <p>Trụ sở::
    ..............................................................................................................................................</p>
  <p>Quyết định thành lập số: ngày tháng năm&nbsp;do cấp.</p>
  <p>Giấy chứng nhận đăng ký kinh doanh số: ...................ngày....... tháng..........năm...... do
    ...............cấp.</p>
  <p>Số Fax:.................................................................... Số điện
    thoại:.....................................................</p>
  <p>Họ và tên người đại
    diện:....................................................................................................................</p>
  <p>Chức vụ::
    ............................................................................................................................................</p>
  <p>Sinh ngày::
    .........................................................................................................................................</p>
  <p>Chứng minh nhân dân số:&nbsp;: ...................................cấp ngày: ................................&nbsp;tại:
    .....................</p>
  <p>Theo giấy ủy quyền (trường hợp đại diện theo ủy quyền) số: ……….........................…………...ngày
    ……...........………….do ……………………………………………………..lập.</p>
  <p style="padding-left: 30px; text-align: center;"><strong>Bên A &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bên
    B</strong><br><em>(ký, điểm chỉ và ghi rõ họ tên) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ký,
    đóng dấu và ghi rõ họ tên)</em></p>
</div>

