<div class="modal-header">
  <h4 class="modal-title pull-left">{{action}} tin nhắn</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalAdd.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formMess" [ngClass]="{'visiabled': type == 'delete'}">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin cơ bản</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Tên khách hàng</label>
                <select class="custom-select" [(ngModel)]="selectCustomer" (ngModelChange)="onOptionsCustomer()"
                        formControlName="customer_id">
                  <option selected *ngFor="let option of customer" [value]="option._id">{{option.fullname}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Tên người gửi</label>
                <select class="custom-select" [(ngModel)]="selectStaff" (ngModelChange)="onOptionsStaff()"
                        formControlName="staff_id">
                  <option *ngFor="let option of staff" [value]="option._id">{{option.fullname}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Tin nhắn</label>
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" formControlName="context"
                          placeholder="Tin nhắn"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label>Số điện thoại mẹ</label>
            <input type="text" class="form-control" formControlName="customer_id" placeholder="Số điện thoại mẹ">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn" [ngClass]="{'btn-success': type == 'add'}"
          (click)="sendMessage()">{{action}}</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalAdd.hide()">Đóng</button>
</div>
