<div class="modal-header">
  <h4 class="modal-title pull-left">{{action}} nhân viên</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalAdd.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formStaff" [ngClass]="{'visiabled': type == 'delete'}">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin cơ bản</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-8">
              <label class="col-form-label">Ảnh</label>
              <input type="text" formControlName="avatar" name="file-input">
            </div>
            <div class="form-group col-sm-4">
              <label>Chức vụ</label>
              <select class="form-control" formControlName="role">
                <option [value]="true">Quản lý</option>
                <option [value]="false">Nhân viên</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label>Tài khoản</label>
              <input type="text" class="form-control" formControlName="username" placeholder="Tài khoản">
            </div>
            <div class="form-group col-sm-4">
              <label>Mật khẩu</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Mật khẩu">
            </div>
            <div class="form-group col-sm-4">
              <label class="col-form-label" for="inline-radios">Giới tính</label>
              <div class="col-md-9 col-form-label">
                <div class="form-check form-check-inline mr-1" id="inline-radios">
                  <input class="form-check-input" type="radio" formControlName="gender" value="false" id="inlineRadio1">
                  <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" formControlName="gender" value="true" id="inlineRadio2">
                  <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label>Họ tên</label>
              <input type="text" class="form-control" formControlName="fullname" placeholder="Họ tên">
            </div>
            <div class="form-group col-sm-6">
                <label>Ngày sinh</label>
                <input type="date" class="form-control" formControlName="birthday" placeholder="Ngày sinh">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Địa chỉ</label>
              <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label>Số CMT</label>
              <input type="text" class="form-control" formControlName="identification"
                     placeholder="Chứng minh thư">
            </div>
            <div class="form-group col-sm-4">
              <label>Ngày cấp</label>
              <input type="date" class="form-control" formControlName="created_date" placeholder="Ngày cấp">
            </div>
            <div class="form-group col-sm-4">
              <label>Nơi cấp</label>
              <input type="text" class="form-control" formControlName="created_address" placeholder="Nơi cấp">
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Số điện thoại</label>
              <input type="text" class="form-control" formControlName="phone" placeholder="Số điện thoại">
            </div>
            <div class="form-group col-sm-6">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label>Hộ khẩu thường trú</label>
              <input type="textarea" rows="2" class="form-control" formControlName="permanent_address"
                     placeholder="Hộ khẩu thường trú">
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="row">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn" [ngClass]="{'btn-success': type == 'add',
  'btn-primary': type == 'edit',
  'btn-danger': type == 'delete'}"
          (click)="submit()">{{action}}</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalAdd.hide()">Đóng</button>
</div>
